*{
	margin: 25px;
	padding: 20px;
	box-sizing: border-box;
}
.a{
	background-color: gray;
	height: 500px;
	width: 800px;
	
}
.b{
	background-color: orange;
	height: 400px;
	width: 700px;
	
    
	
}
.c{
	background-color: gray;
	height: 300px;
	width: 600px;
	
}
.d{
	background-color: green;
	height: 200px;
	width: 500px;
	
}
.w{
	padding-left:120px; 
}
.x{
	padding-left:70px; 
}
.y{
	padding-left:20px; 
}